*{
  /*border: 1px solid red;*/
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

nav{
  background: #6e7f6f;
  color:#eeede6
}

nav ul{
 overflow:hidden;
}

nav li{
  float:left;
  cursor:pointer;
}

nav li a{
  color:white;
}

li.seperator{
  border-right: 0.1em solid white;
  /*margin-right: 0.2em;*/
}

.floating-left{
  overflow: hidden;
}
.floating-left li{
  float: left;
  padding: 0 5px;
}

nav{
  /*border: 1px solid red;*/
}

.delete-btn{
  padding: 0.2em 0.4em;
  margin: 0 0.4em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
